body {
  /*  background-color: #121212; Dark background for the whole page */
  color: var(--font-color); /* Light text color for readability */
}

.container {
  margin: auto;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#searchBox {
  padding: 8px;
  border: 1px solid darkred; 
  border-radius: 5px;
  width: 200px;
  background-color: #333; /* Dark background for input */
  color: #e0e0e0; /* Light text color for input */
}

#newBookingsBtn {
  padding: 8px 16px;
  background-color: darkred; 
  color: #000; /* Dark text color for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid darkred; /* Light color for borders */
  border-radius: 5px;
  width: 150px;
  background-color: #333; /* Dark background for filters */
  color: #e0e0e0; /* Light text color for filters */
}

#bookingsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#bookingsTable th,
#bookingsTable td {
  border: 1px solid #333; /* Dark border color */
  padding: 10px;
  text-align: center;
}

#bookingsTable th {
  background-color: #2c2c2c; /* Darker background for table headers */
  color: #e0e0e0;
}

#bookingsTable a {
  color: #8b0000;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination span {
  font-size: 14px;
  
  color: #e0e0e0; /* Light color for pagination text */
}

#rowsPerPage {
  padding: 8px;
  border: 1px solid darkred; /* Light color for borders */
  border-radius: 5px;
  background-color: #333; /* Dark background for select */
  color: #e0e0e0; /* Light text color for select */;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-controls a {
  padding: 8px 12px;
  border: 1px solid darkred; /* Light color for borders */
  border-radius: 5px;
  background-color: #444; /* Dark background for links */
  color: #e0e0e0; /* Light text color for links */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}

.pagination-controls a:hover {
  background-color: #555; /* Slightly lighter background on hover */
}

/* Style for disabled pagination links */
.pagination a.disabled {
  color: #ccc; /* Light gray color */
  cursor: not-allowed; /* Change cursor to 'not-allowed' */
  pointer-events: none; /* Prevent click events */
}

/*.......................................*/
.suggestions-box {
  position: absolute;
  top: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000000;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  display: none; /* Hide by default */
}
.suggestions-box div {
  padding: 8px;
  cursor: pointer;
}
.suggestions-box div:hover {
  background-color: #f0f0f0;
}

.disabled-link {
  color: gray;
  /*cursor: not-allowed;*/
  text-decoration: none;
}
