@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Sarabun:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --body-font-family: "Sarabun";
  --heading-font-family: "Oxanium";
  --body-color: #d3d3d3;
  --body-bg-color: #101010;
  --heading-color: #fff;
  --border-color: #fff;
  --white-color: #fff;
  --black-color: #000000;
  --primary-color: #ff3d24;
}

/* Experimental for blur effect */
html::-webkit-scrollbar {
  width: 10px; /* Adjust width if needed */
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(59, 59, 59, 0.68); /* Scrollbar thumb color */
  border-radius: 6px;
  backdrop-filter: blur(4px); /* Attempting blur effect */
}

html::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0) ; /* Fully transparent track */; /* Transparent track */
}

html::-webkit-scrollbar-button {
  display: none; /* Disable scrollbar arrows */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important; /* Smooth transition */
}

body{
  background-color: #101010;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Login */

h1,h2 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--body-font-family);
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-family: var(--body-font-family);
}

.wrapper{
  margin: 0 auto;
  margin-top: 8%;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  width: 900px;
  height: 550px;
  border: #ff3e2499 solid 2px;
  box-shadow: 0 0 025px rgba(225, 30, 40, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.wrapper .from-box{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .from-box.login{
  left: 0;
  padding: 0 60px 0 100px;
}
.wrapper .from-box.login .animation{
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s;
  transition-delay: calc(.1s * var(--j));
}
.wrapper.active .from-box.login .animation{
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--i));
}
.wrapper .from-box.register{
  right:0;
  padding: 0 60px 0 40px;
  pointer-events: none;
}

.wrapper.active .from-box.register{
    pointer-events: auto;
}

.wrapper .from-box.register .animation{
    transform: translateX(120%);
    transition: .7s;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .from-box.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.from-box h2{
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    font-family: var(--body-font-family);
}

.from-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-weight: 600;padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #dd0000;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    left: 0;
    color: #fff;
    font-size: 14px;
}
.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:focus~i{
    color: #dd0000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important; /* Smooth transition */
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #ff3e2496;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3e2496;
    border-radius: 40px;
    transition: .5s;
    z-index: -1;
}

.btn:hover::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15151596;
    border-radius: 40px;
}

.from-box .logreg-link{
    color: #fff;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a{
    color: #ff3e24;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover{
    text-decoration: underline;
}

.wrapper .info-text{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login{
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.wrapper .info-text.register{
  left: 0;
  text-align: left;
  padding: 0 150px 60px 40px;
  pointer-events: none;
}

.wrapper.active .info-text.register{
  pointer-events: auto;
}

.wrapper .info-text.register .animation{
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s;
  transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation{
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.1s * var(--i));
}


.info-text h2{
  font-size: 36px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p{
  color: #fff;
  font-size: 16px;
}

.wrapper .info-text.login .animation{
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s;
  transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation{
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--i));
}


.wrapper .bg-animate{
  position: absolute;
  top: 0;
  right: 10;
  width: 950px;
  height: 700px;
  background: linear-gradient(45deg, #000, #ff3e24);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  border-bottom: 1px solid #ff3e2465;
  transition: 1.5s;
  transition-delay: 1s;
}

.wrapper.active .bg-animate{
  transform-origin: bottom left;
   transform: rotate(-11deg) skewY(-41deg);
   transition-delay: 0.5s;
}


.FLname{
  display: flex;
  justify-content: space-between;
}

.FLname .input-box{
  width: 48%;
  margin: auto;
  margin-top: 10%;
}

.toggle-password,
.toggle-password2,
.toggle-password3 {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}



/* header of the website */
* {
  margin: 0;
  padding: 0;
}

/*.............................*/
/*..........button.............*/

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: all .15s ease;
  margin-right: 80px;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #dd2c2c;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

/*....................................................*/
/*.....................Header.........................*/
/*....................................................*/

.navbar-brand {
  margin-left: 30px;
}

nav {
  border-bottom: 1.5px rgb(255, 255, 255);
  background: rgba(217, 217, 217, 0.15);
  backdrop-filter: blur(10px);
  /*z-index: 1000;*/
}

.navbar-toggler {
border: none;
}

.nav-link {
height: 100%;
padding: 0 30px;
margin: 0 15px;
text-decoration: none;
display: flex;
align-items: center;
color: #ffffff !important;
}

.nav-link:hover {
text-decoration: none;
color: #DC3216 !important;
transition: all 0.3s ease;
}

.nav-link.active {
  text-decoration: none;
  color: #DC3216 !important;
  transition: all 0.3s ease;
}

.user-pic img {
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
margin-right: 30px;
object-fit: cover;
}

.sub-menu-wrap {
position: absolute;
top: 100%;
right: 3%;
width: 270px;
max-height: 0px;
overflow: hidden;
transition: max-height 0.5s;
display: none;
}

.sub-menu-wrap.active {
max-height: 400px;
display: block;
}

.sub-menu {
background: #101010;
padding: 20px;
margin: 10px;
z-index: 3000;
border: 1px solid #ffffff;
}

.user-info {
display: flex;
align-items: center;
}

.user-info h3 {
margin-left: 15px;
font-weight: 500;
color: #ffffff;
}

.user-info h5 {
margin-top: -10px;
margin-left: 15px;
font-weight: 500;
color: #ffffff;
}

.user-info img {
width: 60px;
height: 60px;
border-radius: 50%;
margin-left: 15px;
object-fit: cover;
}

.sub-menu hr{
border: 0;
height: 3px;
width: 100%;
background: #DC3216;
margin: 15px 0 10px;
}

.sub-menu-list {
display: flex;
flex-direction: column;
padding: 0;
list-style: none;
}

.sub-menu-link {
display: flex;
align-items: center;
text-decoration: none;
color: #ffffff;
margin: 10px 0;
}

.sub-menu-link p {
width: 100%;
margin: 0;
}

.sub-menu-link i {
color: #ffffff;
margin: 3px 5px 0 5px;
margin-right: 12px;
margin-left: 5px;
font-size: 15px;
}

.dropdown, 
.navbar-dropdown, 
.nav-item-dropdown, 
.dropdown-item {
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
}

.navbar-dropdown {
position: absolute;
top: 100%;
right: 3%;
width: 270px;
max-height: 0px;
overflow: hidden;
transition: max-height 0.5s;
}

.dropdown {
border: 1.5px rgb(255, 255, 255);
background: rgba(217, 217, 217, 0.15);
backdrop-filter: blur(10px);
padding: 20px;
margin: 10px;
border-radius: 6%;

}

.navbar-dropdown.active {
max-height: 400px;
}

.dropdown-toggle {
display: none;
}

/* Remove Bootstrap's default dropdown arrow */
.dropdown-toggle::after {
content: none; /* Remove the arrow */
display: none; /* Hide the pseudo-element */
}

.drop-link {
height: 100%;
padding: 5px 20px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
}

.drop-link:hover {
text-decoration: none;
color: #DC3216;
transition: all 0.3s ease;
}

.navbar-dropdown,
.dropdown-toggle {
  display: none;
}

@media(max-width: 992px) {
.user-pic img,
.navbar-nav {
  display: none;
}

.dropdown-toggle {
  display: flex;
}

.navbar-dropdown {
  display: block;
}

.sub-header {
  display: none;
}
}

@media(max-width: 576px) {
.navbar-dropdown,
.dropdown-toggle {
  display: none;
}
}

@media(max-width: 415px) {

}

body {
  background-color: #101010 !important;
}